<mat-nav-list>
    <div class="logo py-4">
        <img src="../../../assets/img/company-logo.JPG" alt="company logo">
    </div>
    <mat-divider></mat-divider>
    <h2 matSubheader class="mt-2">MENUS</h2>
    <a mat-list-item routerLink="/home/dashboard" routerLinkActive="list-item-active">
        <mat-icon>dashboard</mat-icon> Dashboard
    </a>
    <a mat-list-item routerLink="/home/product" routerLinkActive="list-item-active">
        <mat-icon>wb_twilight</mat-icon> Product
    </a>
</mat-nav-list>