.logo {
    text-align: center;
    padding: 0.8rem !important;
}

.logo > img {
    width: 100px;
}

mat-icon {
    vertical-align: center;
    margin-right: 0.5rem;
}

mat-divider {
    border-top-width: 2px;
    border-color: white;
}

.mat-list-item {
    color: #94a3b8 !important;
    font-size: 0.8rem;
    height: 40px !important;
    margin-bottom: 4px !important;
    ::ng-deep {
        .mat-list-item-content {  
            padding: 0 8px !important;
            &:hover{
                border-radius: 5px !important;
                background-color: #2c3344 !important;
            }
        }
    }
}

.list-item-active {
    color: #f2f5f7 !important;
    ::ng-deep {
        .mat-list-item-content {
            background-color: #2c3344 !important;
            &:hover {
                background-color: #2c3344 !important;
            }
        }
    }
}

.mat-subheader {
    color: #fdfdfd;
}

