:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

mat-drawer {
    width: 260px;
    background-color: #1c242e;
}

mat-drawer-container {
    height: 100%;
}