.inline-button {
    display: inline-block !important;
    width: 15%;
}

.flt-rite {
    float: right !important;
}

.headings {
    vertical-align: -webkit-baseline-middle;;
}

.mt10{
    margin-top: 10px;
}

.btn-sm {
    line-height: 1 !important;
}

.link {
    cursor: pointer;
}

.table-header {
    text-align: center !important;
}